
mixin knowledge()
    -
        var items = [
            "Как Леди добиться успеха, преуспеть и достичь нового уровня дохода.",
            "Почему полная финансовая независимость, как и полная зависимость от мужчины одинаково токсичны и убивают отношения.",
            "Как внедрить тайм-менеджмент и почему он одинаково необходим каждой из нас, независимо от сферы деятельности;",
            "Почему вы не чувствуете себя счастливой, даже полностью погрузившись в работу, семью;",
            "Что необходимо понять и делать, чтобы оставаться Женщиной даже в жестком мире бизнеса;"
        ];

    +b.knowledge&attributes(attributes)
        .container
            +e.info
                +e.title Что вы узнаете:
                +e.items
                    each item in items
                        +e.item
                            +icon("checkmark")
                            span #{item}
            +form()
