mixin banner()
    +b.banner&attributes(attributes)
        +e.wrap
            +e.info.
                "Я расскажу вам о том, как сбылись мои самые дерзкие желания, о которых даже думать боялась.<br><br>Поделюсь действенными методиками постановки целей, которые помогли мне изменить свою жизнь, взгляды на важные и приоритетные вещи и сохранить баланс между карьерой и личным развитием."