mixin header()
    +b.header&attributes(attributes)
        .container
            +img("logo.png").header__logo
            +e.UL.items
                +e.LI.item
                    +e.A.link_active(href="#") Сводка
                +e.LI.item
                    +e.A.link(href="#") Устройства
                +e.LI.item
                    +e.A.link(href="#") Сценарии
